{
    :profiles {
        :Default {
            :default true
            :sim      200 ; keys need to be pressed within this threshold to be considered simultaneous
            :simlayer-threshold 250 ; ???????
            :alone    300 ; hold for 495ms and single tap registered; hold for 505ms and seen as modifier
            :delay    300 ; time after which the key press is count delayed
            :held     350 ; key is fired twice when 1000 ms is elapsed (otherwise seen as a hold command)
        }
    }

    :devices {
        :velocifire [{:vendor_id 1452 :product_id 591}]
    }

    :templates {
        :open "osascript -e 'tell application \"%s\" to activate'"
        ; send keystrokes
        :type "osascript -e 'tell application \"System Events\" to keystroke \"%s\"'"
        ; send keystrokes and press enter
        :type_cr "
            osascript -e 'tell application \"System Events\" to keystroke \"%s\"';
            osascript -e 'tell application \"System Events\" to keystroke return';"
        :paste "osascript -e '
              set the clipboard to \"%s\"
              set the clipboard to the clipboard + \"%s\"
              tell application \"System Events\"
                      keystroke \"v\" using command down
              end tell
              '"
        :sleep "sleep %s" ; sample placeholder
        :set_keyboard "/Users/grn/bin/set_keyboard_layout %s"
    }

    :applications {
        ; extract from /Applications/$APP/Contents/Info.plist from 'CFBundleIdentifier' key
        :kitty [ "net.kovidgoyal.kitty" ]
        :safari [ "^com.apple.Safari$" ]
        :vscode [ "^com.microsoft.VSCode$" ]
        :opera [ "^com.operasoftware.Opera$" ]
        :chrome [ "^com.google.Chrome$" ]
        :emacs [ "^org.gnu.Emacs$" ]
        :drafts [ "^com.agiletortoise.Drafts-OSX$" ]
        :firefox [ "^org.mozilla.firefox$" ]
        :zoom [ "^us.zoom.xos$" ]
        :mailmate [ "^com.freron.MailMate$"]
    }

    :froms {
        :any_key {:any :key_code}
        :any_consumer {:any :consumer_key_code }
        :any_button {:any :pointing_button}

        ;alias
        :delete {:key :delete_or_backspace}
        :return {:key :return_or_enter}
        :btick {:key :grave_accent_and_tilde}
        :bslash {:key :backslash}
        :ls {:key :left_shift}
        :rs {:key :right_shift}

        ;colemak froms (for easier mnemonics)
        :-q {:key :q}
        :-w {:key :w}
        :-f {:key :e}
        :-p {:key :r}
        :-g {:key :t}
        :-j {:key :y}
        :-l {:key :u}
        :-u {:key :i}
        :-y {:key :o}
        :-semicolon {:key :p}

        :-a {:key :a}
        :-r {:key :s}
        :-s {:key :d}
        :-t {:key :f}
        :-d {:key :g}
        :-h {:key :h}
        :-n {:key :j}
        :-e {:key :k}
        :-i {:key :l}
        :-o {:key :semicolon}

        :-z {:key :z}
        :-x {:key :x}
        :-c {:key :c}
        :-v {:key :v}
        :-b {:key :b}
        :-k {:key :n}
        :-m {:key :m}
    }

    :tos {
        ;colemak tos (for easier string sending)
        :-q {:key :q}
        :-w {:key :w}
        :-f {:key :e}
        :-p {:key :r}
        :-g {:key :t}
        :-j {:key :y}
        :-l {:key :u}
        :-u {:key :i}
        :-y {:key :o}
        :-semicolon {:key :semicolon}

        :-a {:key :a}
        :-r {:key :s}
        :-s {:key :d}
        :-t {:key :f}
        :-d {:key :g}
        :-h {:key :h}
        :-n {:key :j}
        :-e {:key :k}
        :-i {:key :l}
        :-o {:key :semicolon}

        :-z {:key :z}
        :-x {:key :x}
        :-c {:key :c}
        :-v {:key :v}
        :-b {:key :b}
        :-k {:key :n}
        :-m {:key :m}
    
        ;named symbols
        :exclaim {:key :1 :modi :shift}
        :at {:key :2 :modi :shift}
        :hash {:key :3 :modi :shift}
        :dollar {:key :4 :modi :shift}
        :percent {:key :5 :modi :shift}
        :caret {:key :6 :modi :shift}
        :ampersand {:key :7 :modi :shift}
        :bullet {:key :8 :modi :shift}
        :open_paren {:key :9 :modi :shift}
        :close_paren {:key :0 :modi :shift}
        :hyphen {:key :hyphen}
        :underscore {:key :hyphen :modi :shift}
        :equal {:key :equal_sign}
        :plus {:key :equal_sign :modi :shift}
        :semicolon {:key :semicolon}
        :colon {:key :semicolon :modi :shift}
        :open_bracket {:key :open_bracket}
        :close_bracket {:key :close_bracket}
        :open_brace {:key :open_bracket :modi :shift}
        :close_brace {:key :close_bracket :modi :shift}
        :less_than {:key :comma :modi :shift}
        :greater_than {:key :period :modi :shift}
        :backquote {:key :grave_accent_and_tilde}
        :tilde {:key :grave_accent_and_tilde :modi :shift}
        :dquote {:key :quote :modi :shift}
        :pipe {:key :backslash :modi :shift}
        :question {:key :slash :modi :shift}
        :ls {:key :left_shift}
        :rs {:key :right_shift}

        ; system-wide shortcuts
        :command_tab {:key :!Ctab}
        :left_desktop {:key :!!left_arrow}
        :right_desktop {:key :!!right_arrow} 
        :mission_control {:key :!!up_arrow}
        :internet_query {:key :!!t}
        :show_application_windows {:key :!!down_arrow}
        :show_desktop {:key :f12}
        :activate_spotlight {:key :!!spacebar}
        :fullscreen_snapshot {:key :!CS3}
        :window_snapshot {:key :!CS4}
        :selection_snapshot {:key :!CS5}
        :emoji_picker {:key :spacebar :modi [:control :command]} ;!CTspacebar
        :system-new_tab {:key :!Ct}
        :system-close_tab {:key :!Cw}
        :system-force_quit_apps {:key :!COescape}

        ; 1password
        :activate_1password {:key :!!backslash}
        ; hazeover - focus on one window
        :activate_hazeover {:key :!!return_or_enter}
        ; mosaic - window positioning
        :window_left_half {:key :!!j}
        :window_resize_and_right {:key :!!l}
        :window_resize_and_center {:key :!!k}
        :window_full_size {:key :!!i}
        :window_center {:key :!!semicolon}
        ; vscode
        :toggle_terminal_or_editor {:key :!Tgrave_accent_and_tilde}
        :toggle_terminal {:key :!Cspacebar}
        :focus_group_or_terminal_left {:key :!CTOup_arrow}
        :focus_group_or_terminal_right {:key :!CTOdown_arrow}
        :focus_editor_left {:key :!COleft_arrow}
        :focus_editor_right {:key :!COright_arrow}
        :focus_file_or_new_tab {:key :!Cp}
        ; TODO find a valid way to express this or propose a patch so that it becomes a valid definition
        ; :vscode-markdown_preview {:key [:!Ck :v]}
        ; kitty
        :kitty-prev_tab {:key :!Cleft_arrow}
        :kitty-next_tab {:key :!Cright_arrow}
        :kitty-move_tab_left {:key :!COleft_arrow}
        :kitty-move_tab_right {:key :!COright_arrow}
        :kitty-word_left {:key :!Tleft_arrow}
        :kitty-word_right {:key :!Tright_arrow}
        :kitty-beginning_of_line {:key :!Ta}
        :kitty-end_of_line {:key :!Te}
        :kitty-tmux_prefix {:key :!Ta}
        ;; :kitty-tmux-multipane {:key :!Ta :!Ssemicolon :return_or_enter}
        ; safari
        :safari-prev_tab {:key :!TStab}
        :safari-next_tab {:key :!Ttab}
        :safari-hist_back {:key :!Copen_bracket}
        :safari-hist_frwd {:key :!Cclose_bracket}
        :safari-toggle_reader {:key :!CSr}
        :safari-toggle_darkmode {:key :!COk}
        :safari-close_tab {:key :!Cw}
        ; chrome
        :chrome-prev_tab {:key :!TStab}
        :chrome-next_tab {:key :!Ttab}
        :chrome-toggle_reader {:key :!CSr}
        ; opera
        :opera-prev_tab {:key :!COleft_arrow}
        :opera-next_tab {:key :!COright_arrow}
        ; emacs
        :emacs-toggle_terminal {:key :!Cspacebar}
        ; drafts
        :drafts-beginning_of_line {:key :!Cleft_arrow}
        :drafts-end_of_line {:key :!Cright_arrow}
        :drafts-toggle_draft_list {:key :!C1}
    }

    :simlayers {
        :windows {:key :f}
        :apprun {:key :grave_accent_and_tilde}
    }

    :main [
        {
            :des "Cmd+Option+Shift+Esc to Reset All Layers (when/if something goes horribly wrong)"
            :rules [
                [:!COTescape [["extend" 0], ["apps" 0], ["desktop" 0], ["command" 0], ["mouse" 0], ["symbols" 0], ["shifted" 0], ["ctrl" 0], ["emoji" 0], ["system" 0], ["power" 0], ["apprun" 0]]]
            ]
        }
        {
            :des "Press !Sright_shift for CapsLock, !Rleft_shift to deactivate all layers (including Colemak)"
            :rules [
                [:!R#Pleft_shift [["blocked" 1][:noti :blocked "QWERTY - no layers"]] ["blocked" 0]]
                [:!R#Pleft_shift [["blocked" 0][:noti :blocked ""]] ["blocked" 1]]
                [:!S#Pright_shift [:caps_lock [:noti :caps "Caps Lock"]["capslock" 1]] ["capslock" 0]]                  ; press both shift keys to activate caps
                [:!S#Pright_shift [:caps_lock [:noti :caps ""]["capslock" 0]] ["capslock" 1]]                           ; press both shift keys to deactivate caps
            ]
        }
        {
            :des "Window Positioning Layer"
            :rules [
                :windows
                    ; window positioning using rectangle 
                    [:j :window_left_half]
                    [:k :window_resize_and_center]
                    [:l :window_resize_and_right]
                    [:i :window_full_size]
                    [:p :window_center]
                    [:semicolon :window_snapshot]
                    [:h :system-force_quit_apps]
            ]
        }
        ;; {
        ;;     :des "MultiTouch Layer - hold finger(s) on trackpad to trigger"
        ;;     :rules [
        ;;         ; 1 finger resting on the trackpad
        ;;         [:condi ["multitouch_extension_finger_count_total" 1]]
        ;;             [:-r :safari-prev_tab :safari]
        ;;             [:-t :safari-next_tab :safari]
        ;;             [:-w :!Cw]
        ;;             [:-p :!Ct]
        ;;             [:caps_lock {:pkey :button1 :modi :left_command}]
        ;;             [:grave_accent_and_tilde :!Cz]
        ;;             [:-z :!Cx]
        ;;             [:-x :!Cc]
        ;;             [:-c :!Cv]
        ;;             ;; [:caps_lock [[:pkey :button1][:pkey :button1]]]
        ;;         ; 2 finger resting on the trackpad
        ;;         [:condi ["multitouch_extension_finger_count_total" 2]]
        ;;             [:-r :safari-hist_back :safari]
        ;;             [:-t :safari-hist_frwd :safari]
        ;;     ]
        ;; }
        ;; {
        ;;     :des "Symbols Layer"
        ;;     :rules [
        ;;         [:condi :!blocked :!extend]
        ;;             ; activate layer
        ;;             [:##tab ["symbols_layer" 1] [:!shifted :!blocked] {:alone :tab :afterup ["symbols_layer" 0]}]
        ;;         :symbols_layer
        ;;             [:##caps_lock :left_control]
        ;;             [:##a :left_shift]
        ;;             [:##s :left_option]
        ;;             [:##d :left_command]
        ;;             [:##h :!Th]
        ;;             [:##y :backquote]
        ;;             [:##j :open_paren][:##u :close_paren]
        ;;             [:##k :open_bracket][:##i :close_bracket]
        ;;             [:##l :open_brace][:##o :close_brace]
        ;;             [:##semicolon :hyphen][:##p :equal]
        ;;             [:##n :backslash]
        ;;             [:##m :underscore]
        ;;             [:##period :pipe]
        ;;             [:##comma :tilde]
        ;;             [:##slash :plus]
        ;;     ]
        ;; }
        {
            :des "AppRun Layer"
            :rules [
                ;; [:condi :!blocked :!extend]
                    ; activate layer
                    ;; [:right_shift :right_shift [:!symbols :!mouse :!shifted :!system :!blocked :!apprun] {:alone ["apprun" 1] :delayed {:invoked ["apprun" 0] :cancelled ["apprun" 0]}}]
                    ;; [:left_shift :left_shift [:!symbols :!mouse :!shifted :!system :!blocked :!apprun] {:alone ["apprun" 1] :delayed {:invoked ["apprun" 0] :cancelled ["apprun" 0]}}]
                :apprun
                    [:-w [:open "WhatsApp"]                     nil {:afterup ["apprun" 0]}]
                    [:-f [:open "Finder"]                       nil {:afterup ["apprun" 0]}]
                    [:-e [:open "MailMate"]                     nil {:afterup ["apprun" 0]}]
                    [:-t [:open "Telegram"]                     nil {:afterup ["apprun" 0]}]
                    [:-s [:open "Safari"]                       nil {:afterup ["apprun" 0]}]
                    [:-g [:open "Signal"]                       nil {:afterup ["apprun" 0]}]
                    [:-k [:open "Kitty"]                        nil {:afterup ["apprun" 0]}]
                    [:-m [:open "Messages"]                     nil {:afterup ["apprun" 0]}]
                    [:-d [:open "Drafts"]                       nil {:afterup ["apprun" 0]}]
                    [:-i [:open "Discord"]                      nil {:afterup ["apprun" 0]}]
                    [:-c [:open "Visual Studio Code"]           nil {:afterup ["apprun" 0]}]
                    [:-x [:open "Google Chrome"]                nil {:afterup ["apprun" 0]}]
                    [:-y [:open "Skype"]                        nil {:afterup ["apprun" 0]}]
                    [:-o [:open "zoom.us"]                      nil {:afterup ["apprun" 0]}]
                    [:spacebar :activate_spotlight              nil {:afterup ["apprun" 0]}]
                    [:slash :activate_1password                 nil {:afterup ["apprun" 0]}]
            ]
        }
        {
            :des "Power Combos"
            :rules [
                [:condi :!blocked :!extend :!apprun]
                    ; global
                    [:##caps_lock :left_control nil {:alone :escape}]
                    [:left_control :left_control nil {:alone :!CTspacebar}]
                    [:left_command :left_command nil {:alone :!Ctab}]
                    [:!Th :delete_or_backspace]
                    [:!Sspacebar :spacebar]
                    ; chrome
                    [:!Qleft_command [:!Ql :!Qv :return_or_enter] :chrome]
                    [:!Cright_command [:button2 :c :return_or_enter] :chrome]
                    [:right_command :right_command :chrome {:alone :chrome-toggle_reader}]
                    ; drafts
                    [:right_command :right_command :drafts {:alone :drafts-toggle_draft_list}]
                    [:!Cdelete_or_backspace :!CSOdelete_or_backspace :drafts]
                    [:right_command :right_command :emacs {:alone :emacs-toggle_terminal}]
                    ; kitty
                    [:right_command :right_command :kitty {:alone :kitty-tmux_prefix}]
                    [:right_option :right_option [:kitty :!tmux_sync_panes] {:alone [:!Ta :!Ssemicolon [:type_cr "setw synchronize-panes on"] ["tmux_sync_panes" 1]]}]
                    [:right_option :right_option [:kitty :tmux_sync_panes] {:alone [:!Ta :!Ssemicolon [:type_cr "setw synchronize-panes off"] ["tmux_sync_panes" 0]]}]
                    [:!Ccomma [:!Ta :p] :kitty]
                    [:!Cperiod [:!Ta :n] :kitty]
                    ; mailmate
                    [:right_command :right_command :mailmate {:alone :!COTd}]
                    [:right_option :right_option :mailmate {:alone :!COu}]
                    ; safari
                    [:!Qleft_command [:!Cl :!Cv :return_or_enter] :safari]
                    [:!Cright_command [:button2 :c :return_or_enter] :safari]
                    [:left_option :left_option :safari {:alone :!CSbackslash}]
                    [:right_command :right_command :safari {:alone :!CT1}]
                    [:right_option :right_option :safari {:alone :safari-toggle_reader}]
                    [:!Qspacebar :!COi :safari]
                    ; vscode
                    ; toggle between toggling terminal or terminal_or_editor when pressing right_command
                    [:!Qspacebar ["vscode_terminal" 1] [:vscode :!vscode_terminal]]
                    [:!Qspacebar ["vscode_terminal" 0] [:vscode :vscode_terminal]]
                    ; based on the variable above, toggle based on preference
                    [:right_command :right_command [:vscode :vscode_terminal] {:alone :toggle_terminal_or_editor}]
                    [:right_command :right_command [:vscode :!vscode_terminal] {:alone :toggle_terminal}]
                    [:right_option :right_option :vscode {:alone :!Cb}]
                    [:left_option :right_option :vscode {:alone :!Tw}]
                    ; zoom
                    [:right_option :right_option :zoom {:alone :!Oy}]
                    [:right_command :right_command :zoom {:alone :!CSh}]
                    [:!Eright_command :!CSa :zoom]
            ]
        }
        {
            :des "Extended Layer - Spacebar"
            :rules [
                [:##caps_lock :left_control [:!extend :!blocked] {:alone :escape}]
                ;; [:##spacebar [["extend" 1][:noti :extend "Extended Layer"]] [:!symbols :!mouse :!shifted :!system :!blocked] {:afterup [["extend" 0][:noti :extend ""]] :alone :spacebar}]
                [:##spacebar ["extend" 1] [:!symbols :!mouse :!shifted :!system :!blocked] {:afterup ["extend" 0] :alone :spacebar}]
                :extend
                    ; global
                    [:escape :window_full_size]
                    [:non_us_backslash [:open "Screenshot"]]
                    ;; [:##q :backquote]
                    ;; [:##w :backslash]
                    [:##e :hyphen]
                    [:##r :equal]
                    [:##t :open_bracket]
                    [:##y :close_bracket]
                    [:##v :open_paren]
                    [:##n :close_paren]
                    ; reposition some keys closer
                    [:##f :return_or_enter]
                    [:##g :delete_or_backspace]
                    ; chrome
                    [:u :!Cleft_arrow :chrome]
                    [:o :!Cright_arrow :chrome]
                    [:comma :safari-prev_tab :chrome]
                    [:period :safari-next_tab :chrome]
                    ; drafts
                    [:u :drafts-beginning_of_line :drafts]
                    [:o :drafts-end_of_line :drafts]
                    ; emacs
                    [:u :!Cleft_arrow :emacs]
                    [:o :!Cright_arrow :emacs]
                    ; firefox
                    [:right_command :!Tperiod :firefox]
                    ; kitty
                    [:comma :kitty-prev_tab :kitty]
                    [:period :kitty-next_tab :kitty]
                    [:!Sj :!Ob :kitty]              ; jump a word left
                    [:!Sl :!Of :kitty]              ; jump a word right
                    [:!Tj [:!Ta :left_arrow] :kitty]
                    [:!Tk [:!Ta :down_arrow] :kitty]
                    [:!Ti [:!Ta :up_arrow] :kitty]
                    [:!Tl [:!Ta :right_arrow] :kitty]
                    ; mailmate
                    [:u :!Cleft_arrow :mailmate]
                    [:o :!Cright_arrow :mailmate]
                    ; opera
                    [:comma :opera-prev_tab :opera]
                    [:period :opera-next_tab :opera]
                    ; safari
                    [:u :!Cleft_arrow :safari]
                    [:o :!Cright_arrow :safari]
                    [:right_command :safari-toggle_reader :safari]
                    [:right_command :!COk :safari]
                    [:comma :safari-prev_tab :safari]
                    [:period :safari-next_tab :safari]
                    ; vscode
                    [:comma :focus_editor_left :vscode]
                    [:period :focus_editor_right :vscode]
                    ; zoom
                    [:comma :!Tp :zoom]
                    [:period :!Tn :zoom]
                    ; global settings
                    ; functions
                    [:##1 :f1][:##2 :f2][:##3 :f3][:##4 :f4][:##5 :f5][:##6 :f6]
                    [:##7 :f7][:##8 :f8][:##9 :f9][:##0 :f10][:##hyphen :f11][:##equal_sign :f12]
                    ; modifiers
                    [:##caps_lock :left_control]
                    [:##a :left_shift]
                    [:##s :left_option]
                    [:##d :left_command]
                    ; arrows
                    [:##j :left_arrow]
                    [:##k :down_arrow]
                    [:##i :up_arrow]
                    [:##l :right_arrow]
                    ; shortcuts
                    [:!!u :page_up]
                    [:!!o :page_down]
                    [:##u :home]
                    [:##o :end]
                    ; undo, cut, copy, paste on mod-wide on colemak
                    [:##grave_accent_and_tilde :!Cz][:##z :!Cx][:##x :!Cc][:##c :!Cv]
                    ; edit/organize text properly
                    [:##quote :insert]
                    [:##h :delete_or_backspace]
                    [:##semicolon :delete_forward]
                    ; desktop navigation via m and slash
                    [:m :left_desktop]
                    [:slash :right_desktop]
            ]
        }
        {
            :des "Colemak Layout"
            :rules [
                [:condi :!blocked]
                    ; used for mod-wide on colemak and apple keyboard
                    [:##non_us_backslash :grave_accent_and_tilde]
                    [:##e :f][:##r :p][:##t :g][:##y :j][:##u :l][:##i :u][:##o :y][:##p :semicolon]
                    [:##s :r][:##d :s][:##f :t][:##g :d][:##j :n][:##k :e][:##l :i][:##semicolon :o]
                    [:##grave_accent_and_tilde :z][:##z :x][:##x :c][:##c :v][:##v :b][:##n :k][:##b :spacebar]
                    ;; [:##z :z][:##x :x][:##c :c][:##v :v][:##b :b][:##n :k]
            ]
        }
    ]
}

;; rule [:period ["media-mode" 1] nil {:afterup ["media-mode" 0] :alone :period}]
;;       |_____| |_______________| |_| |_________________________________________|
;;        <from>    <to>      <conditions>         <other options>
;;
;; !  | means mandatory -   modifier(s) alone when pressend change behavior
;; #  | means optional  -   modifiers are optional (but atleast one necessary)
;;
;; :!Ca is keycode :a and prefix a with !C
;;
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;;
;; ## | optional any (this has no effect when used on the RHS; only LHS)
;; !! | command + control + optional + shift (hyper)
;;
;; to understand better how modifiers work in karabiner
;; karabiner definition of mandatory and optional
;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/
;;
;; need to prefix C T O S F P with ! or #
;;
;; code for all this:
;; https://github.com/yqrashawn/GokuRakuJoudo/blob/b9b334a187379f9bc8182ad59e2cca2a1789e9c0/src/karabiner_configurator/keys.clj#L68 
;;
;;
;; list of keys usable in Karabiner
;; https://github.com/pqrs-org/Karabiner-Elements/issues/925
;;
;;
;; Sample mouse event remapping
;; Could be used in a layer. Intercepting events from mice interferes with the scrollwheel.
;; [{:pkey :button2} :delete_forward]
;;
;;
;; URL of extend layer - https://forum.colemak.com/topic/2014-extend-extra-extreme/
